div {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: red;
	color: white;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
}
p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: green;
	color: white;
	font-size: 18px;
}
button {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: rgb(255, 166, 0);
	color: black;
	font-size: 18px;
	padding: 10px;
	box-shadow: 2px;
}