.black, .yellow {
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    padding: 6px;
    border-color: lightgrey;
}
.black {
    color: white;
    background-color: black;   
}
.yellow {
    color: black;
    background-color: yellow;
}