
.container {
    display: flex;
    justify-content: space-between;
}
.box div {
    background-color: yellowgreen;
    width: 200px;
    height: 200px;
    margin: 20px;
}
.center {
    display: flex;
    align-items: center;
}
.center div {
    margin: 50px;
}