.para {
    color: red;
    font-size: 40px ;
}
.small-para {
    font-size: 26px;
}
#confirm-button {
    background-color: green;
    font-size: 40px ;
    color: white;
    font-weight: bold;
    border-color: lightgray;
}
#cancel-button {
    background-color: white;
    font-size: 40px ;
    color: black;
    border-color: lightgray;
}
.text {
    color: green;
    font-size: 40px ;
}
.child {
    color: red;
    font-size: 26px;
}