* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    height: 100vh;
    padding: 30px;
    grid-template-areas: 
        "c1 c1 c1"
        "c2 c3 c4"
        "c5 c6 c7";
}

#c1 {
    background-color: #1ba2d8;
    border-radius: 5px;
    padding: 10px;
    grid-area: c1;
}
#c2 {
    background-color: #7fbec7;
    border-radius: 5px;
    padding: 10px;
    grid-area: c2;
    
}
#c3 {
    background-color: #01888d;
    border-radius: 5px;
    padding: 10px;
    grid-area: c3;
}
#c4 {
    background-color: #244e2a;
    border-radius: 5px;
    padding: 10px;
    grid-area: c4;
}
#c5 {
    background-color: #3a6072;
    border-radius: 5px;
    padding: 10px;
    grid-area: c5;
}
#c6 {
    background-color: #c5e7ba;
    border-radius: 5px;
    padding: 10px;
    grid-area: c6;
}
#c7 {
    background-color: #87a87c;
    border-radius: 5px;
    padding: 10px;
    grid-area: c7;
}